@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {

    background-color: transparent;
    width: auto;
    height: 20vh;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 20px;
}

nav img {
    width: 20px;
}

nav ul li {
    list-style-type: none;
}

img {
    width: 50px;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;



}

.action {
    text-align: center;
    background: linear-gradient(#7780F3, #5352EE);
    gap: 50px;
    padding: 20px;

    ::placeholder {
        font-family: "Klee One", cursive;
    }

    border-radius: 20px;

}

h1 {
    font-family: "Klee One", cursive;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.tache {
    gap: 20px;
    width: auto;
    margin: 20px;

}

input {
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: none;



}


.list {
    margin-top: 20px;
    width: 400px;
    height: 200px;
    background: linear-gradient(#7780F3, #5352EE);
    border-top-left-radius: 20PX;
    border-top-right-radius: 20px;
    border-radius: 20px;


}

button {
    width: 35px;
    border-radius: 20%;
    border: none;
    height: 35px;
    color: white;
    background-color: blue;
    position: relative;
    right: -10px;
}



.list img {
    width: 50px;
}


@media(max-width:498px) {
    body {
        margin-bottom: 10px;
    }

    .action {
        width: 82%;
        margin-left: 15px;
        display: block;

        align-items: center;

    }


}